@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  font: 1.125rem;
}

.pageCenter {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}
